.p-contact{
    margin-bottom: 100px;
    width: 100%;
    padding: 0 100px;
    text-align: center;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        padding: 0 20vw;
    }
    > p {
        margin: 30px auto 30px auto;
        color: #707070;
    }
    form {
        width: 100%;
        label {
         display: block;
         color: #707070;
         font-weight: bold;
         @include breakpoint ( pc ) {
             width: 25%;
             text-align: right;
             margin: 20px 40px;
            }
        }
        input {
         display: block;
         margin: 20px auto;
         box-sizing: border-box;
         width: 100%;
         background-color: rgba($color: #00aaff, $alpha: 0.2);
         @include breakpoint ( pc ) {
             margin: 20px 100px 20px 0;
            }
        }
        textarea {
            display: block;
            margin: 20px auto;
            box-sizing: border-box;
            width: 100%;
            height: 150px;
            background-color: rgba($color: #00aaff, $alpha: 0.2);
            @include breakpoint ( pc ) {
                margin: 20px 100px 20px 0;
                height: 200px;
            }
        }
        .buttom {
           width: auto;
           color: white;
           font-weight: bold;
           background-color: #707070;
           @include breakpoint ( pc ) {
            float: right;
           }
        }
    }
}

.p-contact--pc {
    @include breakpoint ( pc ) {
        display: flex;
    }
}