.p-gnav{
    > ul{
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        padding-left: 2.5vw;
        padding-right: 0px;
        display: flex;
        }
        > li{
             > a{
                 @include breakpoint ( pc ) {
                 width: 100%;
                 font-size: 2.0vw;
                 margin-top: 10px;
                 margin-right: 2.5vw;
                }
            }
        }
    }
}