.p-gnav{
    > ul{
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        padding-right: 0px;
        display: flex;
        }
        > li{
            @include breakpoint ( pc ) {
                font-size: 3vw;
                margin-top: 10px;
                margin-right: 40px;
            }
        }
    }
}