.p-map {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        overflow: visible;
        position: static;
        padding-bottom: 0;
    }
    iframe {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
            height: 100%;
            width: 50%;
            right: 70px;
        }
    }
}
