.p-recruit {
    text-align: center;
    margin-bottom: 100px;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
    }
    h2{ 
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        }
    }
    h3 {
        box-sizing: border;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        }
    }
    a {
        box-sizing: border;
        font-size: 33px;
        color: #707070;
        border: solid #707070 4px;
        padding: 16px;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        }
    }
}