//見出し

.c-headline--h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.8rem;
    color: #707070;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        font-size: 4rem;
        margin-bottom: 100px;
    }
    &--white {
        @extend .c-headline--h2;
        color: #fff;
    }
}


.c-description {
    font-size: 1.4rem;
    color: #707070;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        font-size: 2rem;
    }
}
.c-headline--h3 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 60px auto;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        font-size: 3.5rem;
        margin: 100px auto;
    }
    &--gray {
        @extend .c-headline--h3;
        color: #707070;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
            font-size: 3.5rem;
            margin: 100px auto;
        }
    }
}

.c-headline--h4{
    color: #707070;
    font-size: 1.56rem;
    font-weight: lighter;
    padding: 30px 30px;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
    }
}
.left {
    p {
        font-size: 1.4rem;
        font-weight: bold;
        color: #707070;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        }
    }
}

.right {
    p {
        font-size: 1.4rem;
        font-weight: bold;
        color: #707070;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        }
    }
}

dl{
    dt {
        color: #707070;
        font-size: 1.4rem;
        padding-bottom: 30px;
        @include breakpoint( pc ) {
            font-size: 2.0rem;
            padding-bottom: 60px;
        }
    }
    dd {
        color: #707070;
        font-size: 1.0rem;
        padding-bottom: 30px;
        @include breakpoint ( pc ) {
            font-size: 1.6rem;
            padding-bottom: 20px;
        }
    }
}