//見出し

.c-headline--h2 {
    font-family: 'Sawarabi Gothic', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.8rem;
    color: #707070;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        font-size: 4rem;
        margin-bottom: 100px;
    }
    &--white {
        @extend .c-headline--h2;
        color: #fff;
    }
}


.c-description {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 1.1rem;
    color: #707070;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        font-size: 2rem;
    }
}
.c-headline--h3 {
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 30px auto;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        font-size: 3.5rem;
        margin: 100px auto;
    }
    &--gray {
        @extend .c-headline--h3;
        color: #707070;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
            font-size: 3.5rem;
            margin: 100px auto;
        }
    }
}

.c-headline--h4{
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #707070;
    font-size: 1.1rem;
    font-weight: lighter;
    padding-bottom: 30px;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
        padding: 30px 30px;
        font-size: 1.56rem;
    }
}
.left {
    p {
        font-family: 'Sawarabi Gothic', sans-serif;
        font-weight: bold;
        color: #707070;
        font-size: 25px;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
            font-size: 35px;
        }
    }
}

.right {
    p {
        font-family: 'Sawarabi Gothic', sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #707070;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        }
    }
}

dl{
    dt {
        font-family: 'Sawarabi Gothic', sans-serif;
        color: #707070;
        font-size: 1.2rem;
        padding-bottom: 30px;
        @include breakpoint( pc ) {
            font-size: 2.0rem;
            padding-bottom: 60px;
        }
    }
    dd {
        font-family: 'Sawarabi Gothic', sans-serif;
        color: #707070;
        font-size: 1.0rem;
        padding-bottom: 30px;
        @include breakpoint ( pc ) {
            font-size: 1.6rem;
            padding-bottom: 20px;
        }
    }
}