.p-contents {
     width: 100%;
    @include breakpoint ( tablet ) {
    }
    @include breakpoint ( pc ) {
    }
    .p-service { 
            display: flex;
            flex-direction: column;
            justify-content: center;
        @include breakpoint ( tablet ) {
        }
        @include breakpoint ( pc ) {
        }
        .c-headline--h2 {
            @include breakpoint ( tablet ) {
            }
            @include breakpoint ( pc ) {
            }
        }
        .c-description {
            text-align: center;
            margin-bottom: 50px;
            @include breakpoint ( tablet ) {
            }
            @include breakpoint ( pc ) {
            }
        }
        .left {
            @include breakpoint ( tablet ) {
            }
            @include breakpoint ( pc ) {
            }
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                width: 280px;
                @include breakpoint ( tablet ) {
                }
                @include breakpoint ( pc ) {
                }
            }
            p {
                text-align: center;
                font-size: 35px;
                margin-bottom: 50px;
                @include breakpoint ( tablet ) {
                }
                @include breakpoint ( pc ) {
                }
            }
        }
        .right {
            text-align: center;
            @include breakpoint ( tablet ) {
            }
            @include breakpoint ( pc ) {
            }
            .wrap {
                display: flex;
                justify-content: center;
              .screen-img {
                  width: 166px;
                  @include breakpoint ( tablet ) {
                  }
                  @include breakpoint ( pc ) {
                  }
               }
               .graph1-img {
                   width: 198px;
                   @include breakpoint ( tablet ) {
                   }
                   @include breakpoint ( pc ) {
                   }
                }
            }
            p {
                font-size: 35px;
                margin: 50px;
                @include breakpoint ( tablet ) {
                }
                @include breakpoint ( pc ) {
                }
            }
        }
        &__items {
            margin-top: 50px;
            margin-bottom: 50px;
            background-image: url(../img/content.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-color: #00aaff;
            padding: 30px 30px;
            box-sizing: border-box;
            @include breakpoint ( tablet ) {
            }
            @include breakpoint ( pc ) {
            }
            > .item {
                @include breakpoint ( tablet ) {
                }
                @include breakpoint ( pc ) {
                }
                .c-headline--h3{
                    text-align: center;
                    @include breakpoint ( tablet ) {
                    }
                    @include breakpoint ( pc ) {
                    }
                }
                .inner {
                    background-color: rgba($color: #fff, $alpha: 0.7);
                    @include breakpoint ( tablet ) {
                    }
                    @include breakpoint ( pc ) {
                    }
                  img {
                        width: 52px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        padding-top: 20px;
                        @include breakpoint ( tablet ) {
                        }
                        @include breakpoint ( pc ) {
                        }
                    }
                   dl{
                      display: block;
                      margin-right: auto;
                      margin-left: auto;
                      padding: 20px 20px;
                      text-align: center;
                      @include breakpoint ( tablet ) {
                    }
                    @include breakpoint ( pc ) {
                    }
                    dt {
                        @include breakpoint ( tablet ) {
                        }
                        @include breakpoint ( pc ) {
                        }
                    }
                    dd {
                        text-align: center;
                            @include breakpoint ( tablet ) {
                            }
                            @include breakpoint ( pc ) {
                            }
                        }
                    }
                }//inner
                > ul{
                    padding-left: 0px;
                    li{
                        margin-bottom: 50px;
                        background-color: rgba($color: #fff, $alpha: 0.8);
                        display: flex;
                        justify-content: center;
                        .c-headline--h4 {
                            text-align: center;
                            @include breakpoint ( tablet ) {
                            }
                            @include breakpoint ( pc ) {
                            }
                        }
                        img{
                            width: 77px;
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            margin-bottom: 25px;
                            @include breakpoint ( tablet ) {
                            }
                            @include breakpoint ( pc ) {
                            }
                        }//img
                        dl {
                            display: block;
                            margin-right: auto;
                            margin-left: auto;
                            padding: 20px 20px;
                            dt {
                                text-align: center;
                                dd {
                                    text-align: justify;
                                }
                            }
                        }
                    }//li
                }//ul
            }//item
        }//&__items
    }//.p-service
}//.p-contents 